<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <span><a href=""><img src="assets/img/horizontal_on_white_by_logaster.png" alt=""></a></span>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a aria-current="page" href="#"><b>Início</b></a>
                </li>
                <li class="nav-item">
                    <a routerLink="/produtos"><b>Produtos</b></a>
                </li>
            </ul>
            <form class="d-flex">

                <div class="linha-vertical"></div>
                <div><img src="assets/img/mulher.jpg" alt="foto do usuário" id="foto"></div>
            </form>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>