.main-head {
  height: 150px;
  background: #fff;
}

.sidenav {
  height: 100%;
  background: transparent linear-gradient(180deg, #623262 0%, #f2d8db 100%) 0%
    0% no-repeat padding-box;
  overflow-x: hidden;
  padding-top: 20px;
  opacity: 1;
}

.main {
  padding: 0px 10px;
}

.form-control {
  width: 384px !important;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
}

@media screen and (max-width: 450px) {
  .login-form {
    margin-top: 10%;
  }

  .register-form {
    margin-top: 10%;
  }
}

@media (min-width: 768px) {
  .col-md-7 {
    flex: 0 0 auto;
    width: 28%;
    margin-left: 43%;
  }
}
@media screen and (min-width: 768px) {
  .main {
    margin-left: 40%;
  }

  .sidenav {
    width: 790px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .login-form {
    margin-top: 50%;
    width: 380px;
  }

  .register-form {
    margin-top: 20%;
  }
}

.login-main-text {
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}

.login-main-text h2 {
  font-weight: 300;
}

.btn-black {
  background: #725172 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 6px #b7b7b729;
  border-radius: 8px;
  opacity: 1;
  color: #fff;
  width: 384px;
}
